*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial;
    padding: 40px;
}
.container{
    display: flex;
    gap: 50px;
}
.sala{
    background-color: white;
    padding: 30px;
}
.fileira{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 15px 0;
}
.assento{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
