*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial;
    padding: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.fileira{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 15px 0;
}
.assento{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.legenda {
    display: flex;
    gap: 40px;
}

.legenda-opcao {
    display: flex; 
    gap: 5px;
}

.legenda-icone {
   width: 20px;
   height: 15px;
   border: 1px solid;
   border-radius: 2px;
}
